@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@plugin "@tailwindcss/typography";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --tw-gradient-from: #1e293b var(--tw-gradient-from-position);
    --tw-gradient-to: #0f172a var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(
      to bottom right,
      var(--tw-gradient-stops)
    );
  }
}
